* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --boardSize: 20
}

body {
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

header {
  grid-area: 1 / 1 / 2 / 3;
}

.user,
.bot {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.user {
  grid-area: 2 / 1 / 3 / 2;

  border-right: black solid 2.5px;
}

.userShips,
.botShips {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5%;
  flex-wrap: wrap;
  

  grid-area: 2 / 1 / 3 / 2;
}

.botBoard,
.userBoard {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-area: 1 / 1 / 2 / 2;
}

.board {
  width: 500px; /*  20 * 25 */
  height: 500px;
  background-color: azure;

  display: grid;
  grid-template-columns: repeat(var(--boardSize), 1fr);
  grid-template-rows: repeat(var(--boardSize), 1fr);
}

.bot {
  grid-area: 2 / 2 / 3 / 3;

  border-left: black solid 2.5px;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-size: 3rem;
  border-bottom: black solid 1px;
}

header p {
  margin-right: 350px;
  margin-left: 350px;
}

header .winner {
  position: fixed;
  /*
  display: flex;
  justify-content: center;
  width: 300px;
  left: 50%;
  margin-left: -150px; /* negative half of width
  flex-direction: row; */
}

header .winner p {
  color: rgb(173, 159, 77);
  padding: 5px 25px;
  border: 2.5px rgb(206, 181, 38) dotted;
}


.boardBlock {
  border: black solid 0.1px;
}

.boardBlock:hover {
  background-color: rgb(230, 94, 94) !important;
}